{% extends 'base.html' %}
{% load static %}
 {% block title %} Our packages: SOHO AUTOMATIONS  {% endblock %}
{% block home %}
<div id="main">
  <div class="inner">
    <h1>Packages</h1>

    <div class="image main">
      <img src="{% static 'assets/images/banner-image-7-1920x500.jpg' %}" class="img-fluid" alt="" />
    </div>

    <!-- Packages -->
    <section class="tiles">
      {% for items in Destination %}
      <article class="style1">
        <span class="image">
          <img src="{{items.feature_image.url}}" alt="" />
        </span>
        <a href="{{items.get_absolute_url}}">
          <h2>{{items.title}}</h2>

          <p><strong>${{items.price}} - ${{items.price}}</strong></p>

          <p>
            <small>
              <i class="fa fa-calendar"></i> Spring &nbsp;
              <i class="fa fa-cube"></i> 20 nights &nbsp;
              <i class="fa fa-plane"></i> Flight included
            </small>
          </p>
        </a>
      </article>
      {% endfor %}
    </section>
  </div>
</div>
        <div class="pagination" style="padding-left: 40%; padding-top: 20px; padding-bottom: 20px">
          <span class="step-links">
            {% if Destination.has_previous %}
            <button class="btn" style="background: #f33f3f">
              <a href="?page=1" style="color: black">« first</a>
            </button>
            <button class="btn" style="background: #f33f3f">
              <a href="?page={{ Destination.previous_page_number }}" style="color: black">previous</a>
            </button>
            {% endif %}

            <span class="current">
              Page {{ Destination.number }} of {{ Destination.paginator.num_pages }}
            </span>

            {% if Destination.has_next %}
            <button class="btn" style="background: #f33f3f">
              <a href="?page={{ Destination.next_page_number }}" style="color: black">next</a>
            </button>
            <button class="btn" style="background: #f33f3f">
              <a href="?page={{ Destination.paginator.num_pages }}" style="color: black">last
                »</a>
            </button>
            {% endif %}
          </span>
        </div>
      </div>
    </div>
    {% endblock %} -->































